$switchColor: #f7f7f7;
$red: #e84d4c;
$modalBackground: rgb(0, 0, 0, 0.5);
$textColor: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  text-align: center;
  text-transform: uppercase;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 1fr 40%;
  grid-template-rows: 20% 1fr 1fr;
  gap: 5px;
  grid-template-areas:
    ". newGame ."
    ". dice ."
    ". rollAndHold .";
}

// rules icon
#rules {
  color: $red;
  font-size: 23px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

// modal game rules
.background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $modalBackground;
  z-index: 1;

  .popup {
    background-color: $textColor;
    width: 30em;
    padding: 5px 20px 20px;
    margin: 12em auto;
    border-radius: 10px;

    .btnClose {
      font-size: 25px;
      float: right;
      cursor: pointer;
    }

    .paddingTop {
      padding-top: 15px;
      text-align: justify;
    }
  }
}

// modal winner
.back {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $modalBackground;
  z-index: 1;

  .modal {
    background-color: $red;
    color: $textColor;
    width: 30em;
    padding: 15px 20px 20px;
    margin: 18em auto;
    border-radius: 10px;

    .btnClose {
      font-size: 25px;
      float: right;
      cursor: pointer;
    }

    .paddingTop {
      padding-top: 15px;
    }
  }
}

// player 1
#playerOne {
  width: 50vw;
  height: 100vh;
  background: $switchColor;

  .player1 {
    font-size: 50px;
    font-weight: 300;
    position: relative;
    top: 3em;

    #totalScorePlayerOne {
      font-size: 2.5em;
    }
  }

  .current1 {
    position: relative;
    top: 14em;
    left: 40%;
    background: $red;
    width: 8em;
    height: 6em;
    padding-top: 8px;

    #currentScorePlayerOne {
      color: $textColor;
      font-size: 35px;
      margin-top: 10px;
    }
  }
}

// player 2
#playerTwo {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;

  .player2 {
    font-size: 50px;
    font-weight: 100;
    position: relative;
    top: 3em;
  
    #totalScorePlayerTwo {
      font-size: 2.5em;
    }
  }
}

.current2 {
  position: relative;
  top: 14em;
  left: 40%;
  background: $red;
  width: 8em;
  height: 6em;
  padding-top: 8px;

  #currentScorePlayerTwo {
    color: $textColor;
    font-size: 35px;
    margin-top: 10px;
  }
}

#totalScorePlayerOne,
#totalScorePlayerTwo {
  color: $red;
}

// middle page
.new {
  grid-area: newGame;
  display: flex;
  justify-content: center;
  align-self: center;
}

.new,
.rollAndHold {
  font-size: 23px;
  font-weight: 300;

  &:hover {
    cursor: pointer;
  }
}

.dice {
  justify-self: center;
  width: 8em;
  height: 8em;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.2);
  background: $textColor;
  grid-area: dice;
  display: flex;
  justify-content: center;
  align-self: center;
}

.rollAndHold {
  grid-area: rollAndHold;
  height: 5em;

  .flexOne {
    display: flex;
    justify-content: center;
  }

  .flexTwo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

// icons
.color {
  margin-right: 15px;
  color: $red;
}

// responsive
@media screen and (max-width: 720px) {
  main {
    grid-template-areas:
      ". . ."
      "newGame dice rollAndHold"
      ". . .";
  }

  // player 1
  #playerOne {
    width: 100vw;
    height: 50vh;

    .player1 {
      font-size: 30px;
      position: absolute;
      top: 16%;
      left: 20px;
    }
  
    .current1 {
      top: 7em;
      left: 60%;
    }
  }

  // player 2
  #playerTwo {
    position: absolute;
    bottom: 0;
    background: $switchColor;
    width: 100vw;
    height: 50vh;

    .player2 {
      font-size: 30px;
      position: absolute;
      top: 5.4em;
      left: 20px;
    }
  
    .current2 {
      left: 60%;
      top: 10em;
    }
  }

  // middle page
  .new,
  .rollAndHold {
    font-size: 18px;
  }

  .new {
    position: absolute;
    top: 48.5%;
    left: 20px;
  }

  .rollAndHold {
    position: absolute;
    top: 43.5%;
    right: 20px;
  }

  .dice {
    width: 5em;
    height: 5em;
    position: absolute;
    left: 44%;
    top: 44%;
  }
}
